*{
    padding: 0;
    margin: 0;
    text-decoration: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

:root{
    --vermelho: #e50914;
    --preto: #141414;
}

body{
    background: var(--preto);
    color: #fff;
}

/* Header */
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    text-transform: uppercase;
    font-size: 40px;
    margin-left: 20px;
}

nav a{
    color: #AAA;
    margin-right: 10px;
}

nav a:hover{
    color: #fff;
}

nav a:nth-child(4){
    margin-right: 20px;
}

/* Filme Principal */
.filme-principal{
    font-size: 1rem;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5) 100%), url('/resources/img/capa-doc-schumacher.jpg');
    height: 550px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.titulo{
    margin-top: 1.2rem;
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.5);
    border: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    padding: 1rem 2rem;
    margin-right: .5rem;
    font-family: sans-serif;
    font-size: .9rem;
    font-weight: bold;
}

.botao:hover{
    background-color: white;
    color: black;
    transition: .7s;
}

.botao i{
    margin-right: 9px;
}

.botao, .titulo, .descricao{
    margin-left: 1rem;
}